.content{
	padding: 0 50px;
	font-size: 40px;
}
.content div{
	text-align: center;
}
.input-box{
	width: 20%;
	height: 130px;
	display: inline-block;
}
.input-box input{
	width: 90%;
	height: 100%;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	border: 1px solid #000;
}
.content input.onfocus{
	border:  1px solid red;
}
.btn-box{
	position: relative;
	margin-top: 100px;
	padding: 0 10%;
}
.btn-box .btn-confirm{
	width: 100%;
    height: 100px;
    font-size: 40px;
    border: 1px solid #000;
    border-radius: 10px;
}



